.about-us {
  margin-top: 60px;
}
.hr-main {
  border: none;
  border-left: 6px solid #058070 !important;
  height: 80px !important;
  width: 1px !important;
  opacity: 1 !important;
  margin-right: 12px;
  margin-top: 0;
}
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: transparent !important;
}
.nav-bg {
  background-color: transparent;
  display: flex;
}

.navbar-nav {
  margin-left: 50px;
}
.navbar-collapse {
  align-items: center;
  justify-content: center;
}
.nav-item {
  margin-right: 20px;
}

.navbar-light .navbar-nav .nav-link {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

li {
  list-style: none;
}
.navbar-light .navbar-nav .nav-link {
  margin: 0 20px;
  color: #000000 !important;
  font-family: "Roboto" !important;
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: 21px;
  padding: 0;
  margin: 0;
}
.title-carousel-clients {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 35px;
  color: #1e4e62;
}
.subtitle-carousel-clients {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 53px;

  color: #000000;
}
.container-counter {
  width: 650px;
  margin-left: 32px;
  margin-top: 70px;
}
.container-aboutUs-description {
  margin-top: 25px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin-left: 32px;
  width: 708px;
}
.number-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 28px;
  text-align: center;
  color: #000000;
  border-bottom: 3px solid #058070;
}
.label-counter-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  margin-top: 5px;
}
.label-counter-final {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #058070;
  margin-top: 30px;
  margin-left: 32px;
}
.our-team {
  margin-top: 120px;
  height: 608px;
  background-color: rgba(28, 38, 86, 0.05);
  display: flex;
  align-items: center;
}
.title-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #1e4e62;
  margin-top: 30px;
  display: block;
}
.container-imgs-team {
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
}
.container-description-oportunity {
  width: 520px;
}
.description-jaime {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin-top: 16px;
}
.icon-lkdin {
  font-size: 32px;
  color: #058070;
}
.name-employee {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #1e4e62;
  display: block;
  text-align: center;
  margin-top: 8px;
}
.icon-lkdin {
  font-size: 20px;
}
.container-img-team {
  margin: 3px;
}
.description-oportunity {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  color: #000000;
}
.btn-know-services {
  width: 404px;
  height: 44px;
  background: #058070;
  border-radius: 3px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  border: none;
}
.margin-colums {
  margin-left: 30px;
}
.size {
  font-size: 38px;
}
.first-section {
  padding-bottom: 63px;
}
.subtitle-footer {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 35px;
  color: #1e4e62;
}
.second-section {
  height: 295px;
}
.contact {
  margin-top: 100px;
}
.first-section-b {
  background: #1c2656;
}
.contact-hour {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
}
.container-form {
  position: absolute;
  width: 612px;
  height: auto;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  bottom: -55px;
  padding-bottom: 20px;
}
.follow {
  margin-top: 80px;
}
.box-icon-follow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: #058070;
  border-radius: 3px;
  margin-right: 20px;
}
.copyright {
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #c9c9c9;
  margin-top: 120px;
  padding-bottom: 30px;
}

.btn-send-form {
  width: 125px;
  height: 38px;
  background: #058070;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  border: none;
  border-radius: 3px;
}

.label-form {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.message-info-form {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.65px;
  color: #058070;
}

.text-area-form {
  height: 100px;
}
.oportunity {
  margin-top: 115px;
}
.first-section-b2 {
  background: #1c2656;
  background-image: url("/assets/images/home/world.png");
  background-image: no-repeat;
  background-image: fixed;
  background-image: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
