.about-us {
  margin-top: 60px;
}

.hr-main {
  border: none;
  height: 70px !important;
  width: 1px !important;
  opacity: 1 !important;
  margin-right: 12px;
  margin-top: 0;
}

li {
  list-style: none;
}

.container-counter {
  width: auto;
  margin-left: 0px;
  margin-top: 70px;
}
.container-aboutUs-description {
  margin-top: 25px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin-left: 32px;
  width: auto;
}
.number-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  color: #000000;
}
.green {
  color: #058070;
}
.border-number-item {
  width: 80px;
  border-top: 5px solid #000000;
}
.border-color-green {
  border-top: 5px solid #058070;
}

.number-item-green {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  color: #000000;
  border-bottom: 3px solid #058070;
}

.label-counter-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  margin-top: 5px;
}
.label-counter-final {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #058070;
  margin-top: 30px;
  margin-left: 32px;
}
.our-team {
  margin-top: 144px;
  height: 608px;
  background-color: rgba(28, 38, 86, 0.05);
  display: flex;
  align-items: center;
}
.title-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  margin-top: 30px;
  display: block;
}
.container-imgs-team {
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
}
.container-description-oportunity {
  width: auto;
  margin-top: 10px;
}
.description-jaime {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 16px;
}
.icon-lkdin {
  font-size: 28px;
  color: #058070;
}
.name-employee {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #1e4e62;
  display: block;
  text-align: center;
  margin-top: 8px;
}

.container-img-team {
  margin: 3px;
}
.description-oportunity {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.btn-know-services {
  width: 304px;
  height: 48px;
  background: #058070;
  border-radius: 3px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  border: none;
}
.margin-colums {
  margin-left: 30px;
}

.first-section {
  padding-bottom: 63px;
}
.subtitle-footer {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 35px;
  color: #1e4e62;
}
.second-section {
  height: 295px;
}
.contact {
  margin-top: 100px;
}
.first-section-b {
  background: #1c2656;
}
.contact-hour {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}
.container-form {
  position: absolute;
  width: 612px;
  height: auto;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  bottom: -55px;
  padding-bottom: 20px;
}
.follow {
  margin-top: 24px;
}
.box-icon-follow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: #058070;
  border-radius: 3px;
  margin-right: 20px;
}
.copyright {
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #c9c9c9;
  margin-top: 25px;
}

.btn-send-form {
  width: 125px;
  height: 38px;
  background: #058070;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  border: none;
  border-radius: 3px;
}

.label-form {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.message-info-form {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.65px;
  color: #058070;
}

.text-area-form {
  height: 100px;
}
.oportunity {
  margin-top: 144px;
}
.first-section-b2 {
  background-image: url("/assets/images/home/world.png");
  background-image: no-repeat;
  background-image: fixed;
  background-image: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.general-footer {
  height: 370px;
  margin-top: 144px;
  background: #1c2656;
}
.bg-world {
  background-image: url("/assets/images/home/world.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 40px;
}
.subtitle-newsletter-footer {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}
.title-newletter-footer {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #ffffff;
}
.container-newslleter-footer {
  margin-top: 40px;
}
.btn-outline-secondary {
  color: #a4a4a4 !important;
  background-color: #edeef2 !important;
}
.btn-outline-secondary:hover {
  color: #ffffff !important;
  background-color: #1c2656 !important;
}
@media (max-width: 700px) {
  .container-description-oportunity {
    width: auto;
    margin-top: 5px;
  }
  .btn-know-services {
    width: 220px;
  }
  .general-footer {
    height: auto;
    margin-top: 60px;
    background: #1c2656;
  }
  .our-team {
    margin-top: 60px;
    height: auto;
  }
  .container-counter {
    width: auto;
    margin-left: 0px;
    margin-top: 20px;
  }
  .number-item {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 29px;
    color: #000000;
  }
  .oportunity {
    margin-top: 60px;
  }
  .container-aboutUs-description {
    margin-top: 20px;
    margin-left: 0px;
  }
  .title-name {
    margin-top: 5px;
  }
  .box-icon-follow {
    margin-right: 10px;
  }
  .subtitle-newsletter-footer {
    font-size: 20px;
    line-height: 23px;
  }
  .title-newletter-footer {
    font-size: 30px;
    line-height: 33px;
  }
}
