.header-courses {
  width: 100%;
  height: 583px;
  background-image: url("./assets/images/courses/10.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}
.title-courses {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  color: #f8f8f8;
}
.subtitle-courses {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 23px;
  color: #ffffff;
}
.follow-container {
  position: absolute;
  bottom: 0;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  right: 0;
  left: 0;
}
.general-footer {
  margin-top: 0;
}
@media (max-width: 700px) {
  .follow-container {
    position: absolute;
    bottom: -3%;
    z-index: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    right: 0;
    left: 0;
  }
  .title-courses {
    display: flex;
    text-align: center;
    align-items: center;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 41px;
    color: #f8f8f8;
  }
  .subtitle-courses {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 25px;
    color: #ffffff;
  }
}
