.header-franchise {
  width: 100%;
}
.card-header-franchise {
  position: absolute;
  right: 0;
  bottom: -30px;
  width: 679px;
  height: 226px;
  background: #1c2656;
  border-radius: 6px;
  display: flex;
  align-items: center;
}
.title-box-franchise {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.titulo-portada-franchise {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #ffffff;
}

.subtitle-header-franchise {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #ffffff;
}

.btn-write-us-description {
  width: 184px;
  height: 48px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  background: #058070;
  border-radius: 3px;
  color: #ffffff;
  border: none;
}

.description-card-franchise {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
}
.container-title-card-franchise {
  height: 50px;
}
.card-container-write {
  position: absolute;
  right: 0;
  left: 0;
  bottom: -100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-write-us-franchise {
  width: 514px;
  height: 187px;
  background: #ffffff;
  border: 1px solid #f4f4f7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 32px;
}
.hr-main-white {
  border: none;
  border-left: 4px solid #fff !important;
  width: 5px !important;
  opacity: 1 !important;
  height: 80px !important;
  background: #ffffff;
}

.brands {
  height: 200px;
  background: rgba(28, 38, 86, 0.03);
  margin-top: 82px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.why-franchise {
  margin-top: 140px;
}
.how-help-you {
  margin-top: 140px;
}
.description-why {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  margin-top: 40px;
  margin-left: 16px;
}
.question {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #1e4e62;
}
.btn-write-us {
  width: 404px;
  height: 44px;
  background: #058070;
  border: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #fff;
}
.card-item-franchise {
  width: 100%;
  height: auto;
  background: #f4f4f7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  margin-top: 15px;
}
.title-item-franchise {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}
.container-img-item {
  width: 63px;
  height: 63px;
  background: #eaeaea;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 24px;
}
.container-header {
  display: flex;
  align-items: center;
  padding-top: 7px;
  margin-left: 11px;
}
.description-items-why {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  margin-left: 11px;
  margin-right: 9px;
  margin-top: 16px;
  padding-bottom: 16px;
}
.description-help-you {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin-top: 26px;
}

.card-carousel {
  width: 381px;
  height: 199px;
  background: #ffffff;
  border: 1px solid #f4f4f7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  margin: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.number-ind {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}
.title-card-carousel {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}
.description-card-carousel {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.position-carousel {
  width: 100%;
  position: absolute;
  bottom: -80px;
}
.faqs {
  margin-top: 230px;
}
.item-accordion {
  margin-top: 14px;
  border-top: 1px solid rgba(0, 0, 0, 0.125) !important;
}
.accordion-button {
  font-family: "Roboto" !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 21px !important;
  color: #000000 !important;
  background: rgba(240, 240, 240, 0.28) !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1) !important;
  border-radius: 6px !important;
  border: none !important;
  width: 100% !important;
}
.accordion {
  width: 100% !important;
}
.accordion-item {
  background-color: #fff;
  border: none !important;
  font-family: "Roboto" !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 21px !important;
  color: #000000 !important;
  width: 100% !important;
}

.search-franchise {
  margin-top: 90px;
  background: rgba(28, 38, 86, 0.03);
  height: auto;
  border: 0.2px solid rgba(0, 0, 0, 0.27);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}
.search-franchise-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #000000;
  text-align: center;
}
.search-franchise-subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #000000;
}
.btn-scheduled {
  width: 196px;
  height: 48px;
  background: #058070;
  border-radius: 3px;
  border: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}
.btn-contact-franchise {
  width: 184px;
  height: 48px;
  background: #ffffff;
  border: 0.5px solid #bebebe;
  border-radius: 3px;
  border: 0.5px solid #BEBEBE;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
}

.slider {
  height: auto;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.slider::before,
.slider::after {
  content: "";
  height: 100%;
  position: absolute;
  width: 100px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slider .slide-track {
  animation: scroll 80s linear infinite;
  display: flex;
  width: calc(150px * 18);
}

.slider .slide-track:hover {
  animation-play-state: paused;
}

.slider .slide {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  width: auto;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-150px * 9));
  }
}

.hr-main-size-how {
  border: none;
  border-left: 4px solid #000000 !important;
  height: 80px !important;
  width: 1px !important;
  opacity: 1 !important;
  margin-right: 12px;
  margin-top: 0;
}

@media (max-width: 700px) {
  .card-header-franchise {
    position: absolute;
    right: 0;
    bottom: 91px;
    width: 100%;
    height: 226px;
    background: none;
    border-radius: 6px;
    display: flex;
    align-items: center;
  }
  .card-write-us-franchise {
    width: 95%;
    height: auto;
    background: #ffffff;
    border: 1px solid #f4f4f7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    display: flex;
    justify-content: center;
    position: absolute;
    flex-direction: column;
    bottom: 0px;
    padding: 10px 32px;
  }
  .position-carousel {
    position: relative;
    bottom: 0;
  }
  .accordion-button {
    width: 100% !important;
    padding-left: 20px !important;
  }
  .accordion-item {
    width: 100% !important;
  }

  .accordion-body {
    padding-left: 20px !important;
  }
  .faqs {
    margin-top: 30px;
  }
  .how-help-you {
    margin-top: 30px;
  }
  .brands {
    margin-top: 155px;
    height: auto;
  }
  .description-card-franchise {
    margin-top: 20px;
  }
  .why-franchise {
    margin-top: 30px;
  }
  .search-franchise-title {
    font-size: 30px;
    line-height: 33px;
  }
  .search-franchise-subtitle {
    font-size: 24px;
    line-height: 27px;
  }
  .search-franchise {
    margin-top: 30px;
  }
  .general-footer {
    margin-top: 30px;
  }
}
