.header-franchise-florida {
  width: 100%;
}
.btn-cities {
  width: 184px;
  height: 48px;
  background: #058070;
  border-radius: 3px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #fff !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.resize {
  width: 238px;
}
