html {
  scroll-behavior: smooth;
}
button {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}
body {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none !important;
  display: block !important;
  color: inherit !important;
}
.contain {
  margin: 0 auto;
  background: #fff;
  width: 100%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  display: flex;
}
.img-size-flag {
  width: 262px;
  height: auto;
}
@keyframes zoomIn {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2) translate(-60px, -10px);
  }
}

/* The element to apply the animation to */
.contain img {
  width: 100vw;
}
.active {
  font-weight: 700 !important;
  background-color: transparent !important;
}
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}
.container-flags {
  margin-left: 20px;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.dropdown-menu {
  margin-top: 0;
}

.dropdown-toggle::after {
  display: none !important;
}
.flag {
  width: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flags__item {
  width: 30px;
}
.flags__img {
  cursor: pointer;
  display: block;
}
.header {
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}
.nav-bg {
  background-color: transparent;
  display: flex;
}
.container-header-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
}

.navbar-nav {
  margin-left: 50px;
}
.navbar-collapse {
  align-items: end;
  justify-content: end;
}

.btn-container-header {
  margin-top: 56px;
}
.btn-contact {
  width: 279px;
  height: 48px;
  background: #058070;
  border-radius: 3px;
  border: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  color: #ffffff;
}
.btn-want-to {
  width: 184px;
  height: 48px;
  background: #ffffff;
  border-radius: 3px;
  border: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
}
.nav-item {
  margin-right: 20px;
}

.navbar-light .navbar-nav .nav-link {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

li {
  list-style: none;
}
h1 {
  margin: 0;
}
.items {
  display: flex;
  margin-right: 50px;
  margin-left: 88px;
  width: 100%;
  justify-content: space-between;
}

.navbar-light .navbar-nav .nav-link {
  margin: 0 20px;
  color: #ffffff;
  font-family: "Roboto" !important;
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: 21px;
  padding: 0;
  margin: 0;
}

.titulo-portada {
  width: 752px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 2.9em;
  line-height: 50px;
  color: #ffffff;
}

.centeredBox {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  color: #ffffff;
  margin-top: 20px;
}

.cursor {
  border-left: 4px solid white;
}

hr {
  border: none;
  border-left: 6px solid #058070 !important;
  height: 171px !important;
  width: 1px !important;
  opacity: 1 !important;
}
.hr-main {
  border: none;
  border-left: 6px solid #000000 !important;
  height: 80px !important;
  width: 1px !important;
  opacity: 1 !important;
  margin-right: 12px;
  margin-top: 0;
}
.hr-main-us {
  border: none;
  border-left: 4px solid #000000 !important;
  height: 75px !important;
  width: 1px !important;
  opacity: 1 !important;
  margin-right: 12px;
  margin-top: 0;
}
.hr-main-header {
  border: none;
  border-left: 8px solid #ffffff !important;
  height: 171px !important;
  width: 1px !important;
  opacity: 1 !important;
  margin-right: 12px;
  margin-top: 0;
}
.box-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 37px;
  height: 37px;
  background: rgb(103, 109, 109);
  border-radius: 3px;
  margin-right: 11px;
  cursor: pointer;
}
.container-icons-social-network {
  display: flex;
  width: 280px;
  margin-top: 26px;
}
.container-here {
  margin-top: 40px;
  margin-left: 20px;
}
.form-control:focus {
  border-color: #1c2656 !important;
}
.btn-up {
  display: none;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 15px;
  z-index: 99;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(151, 151, 165, 1);
  color: white;
  border: none;
  font-size: 30px;
}
.carousel-indicators [data-bs-target] {
  background-color: #bebebe !important;
}
.clients {
  background: rgba(28, 38, 86, 0.05);
  margin-top: 36px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 70px 0px;
}

.carousel-indicators {
  bottom: -52px !important;
}
.title-carousel-clients {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}
.hidden-title-mobile {
  display: none;
}
.title-carousel-clients-help {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.subtitle-carousel-clients {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #000000;
}
.title-name-client {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin-left: 20px;
}

.text-description-client {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #000000;
  margin-left: 20px;
  margin-top: 0.5rem;
}
.container-description-client {
  margin-top: 120px;
  margin-left: 30px;
}
.container-subtitle-carousel-client {
  display: flex;
  position: absolute;
  right: 0;
  top: 0px;
  left: 400px;
  justify-content: center;
  align-items: center;
  z-index: 200;
}
.services {
  margin-top: 110px;
}
.icon-services-size {
  width: 55px;
  height: 55px;
}
.section-visa-types {
  margin-top: 144px;
}
.see-more {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  text-align: left;
  margin-top: 10px;
  margin-left: 20px;
  width: 269.69px;
  height: 48px;
  background: #058070;
  border-radius: 3px;
  position: absolute;
  bottom: 0;
}
.see-more-info {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  color: #058070;
  display: block;
  text-align: right;
  margin-top: 8px;
  margin-right: 12px;
}
.box-icon-help-you {
  width: 40px;
  height: 40px;
  background: #1c2656;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-icon-help-you-green {
  width: 40px;
  height: 40px;
  background: #058070;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-size-icon-help-you {
  width: 30px;
  height: 30px;
}
.box-service {
  width: 270px;
  height: 216px;
  background: #f4f4f7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.title-service {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin-top: 12px;
  height: 40px;
}
.btn-services {
  width: 404px;
  height: 48px;
  background: #058070;
  border-radius: 3px;
  border: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}
.card-visa-type {
  width: 100%;
  height: auto;
  background: #ffffff;
  border: 1px solid #f4f4f7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 21px 8px;
}
.box-check-green {
  width: 31px;
  height: 31px;
  background: #058070;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 14px;
  flex-shrink: 0;
}
.box-check-blue {
  width: 31px;
  height: 31px;
  background: #1c2656;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 14px;
  flex-shrink: 0;
}
.title-visa {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
}
.title-description-visa {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
  margin-top: 14px;
  height: 120px;
}
.card-visa-write {
  position: absolute;
  bottom: 50px;
  width: 70%;
  height: 145px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 50px;
}
.text-card-visa-write {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #000000;
  margin: 0px 0px 12px 0px;
  display: block;
  width: 384px;
}

.btn-card-visa-write {
  width: 184px;
  height: 48px;
  background: #058070;
  border-radius: 3px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  color: #fff;
  border: none;
  margin-top: 2px;
}

.news-letter {
  height: 371px;
  background-color: rgba(28, 38, 86, 0.05);
  margin-top: 174px;
  display: flex;
  align-items: center;
  position: relative;
}
.img-book-container {
  display: flex;
  width: 340px;
  height: 560px;
  margin-bottom: 48px;
}
.form-newsletter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title-form-newsletter {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #000;
  margin-left: 12px;
  padding-right: 15px;
}
.mobile-vertical-bar {
  display: none !important;
}
.form-newsletter {
  margin-top: 3rem;
  margin-left: 12px;
}
.subtitle-form-newsletter {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #000000;
  margin-left: 12px;
}
.about-us {
  margin-top: 80px;
}

.label-counter-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  margin-top: 5px;
}
.label-counter-final {
  display: block;
  margin-top: 6 0px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 23px;
  color: #058070;
}
.help-you {
  height: 274px;
  margin-top: 160px;
  display: flex;
  align-items: center;
  background-color: rgba(28, 38, 86, 0.05);
}
.description-help {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
  width: 534px;
}
.color-strong {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #058070;
}
.card-help-you {
  width: 201px;
  height: 73px;
  background: #ffffff;
  border: 1px solid #f4f4f7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-card-help-you {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
  margin-left: 8px;
}
.item-transaction {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.btn-meet-reservation {
  width: 327px;
  height: 48px;
  background: #ffffff;
  border-radius: 3px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
  border: 0.2px solid rgba(0, 0, 0, 0.27);
  margin-top: 15px;
}

.title-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #1e4e62;
  margin-top: 12px;
  display: block;
}
.img-here {
  width: 550px;
  height: 516px;
}

.icon-lkdin {
  font-size: 32px;
  color: #058070;
}

.news {
  margin-top: 107px;
}
.title-news-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  color: #1c2656;
  margin-top: 13px;
  display: block;
}
.by-news-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #747474;
  display: block;
  margin-top: 12px;
}
.description-news-item {
  margin-top: 27px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}
.first-section {
  padding-bottom: 63px;
}
.subtitle-footer {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 35px;
  color: #1e4e62;
}
.second-section {
  height: 295px;
}
.contact {
  margin-top: 100px;
}
.bg-world {
  background-image: url("/assets/images/home/world.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 40px;
  margin-left: 12px;
}

.first-section-b2 {
  background-image: url("/assets/images/home/world.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: contain;
  background-repeat: no-repeat;
}
.contact-hour-attention {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}
.contact-hour {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}
.bar-color {
  border-bottom: 4px solid #058070;
  width: 360px;
}
.container-form {
  width: 613px;
  height: auto;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding-bottom: 20px;
}
.follow {
  margin-top: 24px;
}
.footer-color {
  background-color: #1c2656;
  height: 528px;
  position: relative;
  margin-top: 244px;
  display: flex;
  justify-content: center;
}
.position-form {
  position: absolute;
  bottom: 10px;
}
.box-icon-follow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: #058070;
  border-radius: 3px;
  margin-right: 10px;
}
.copyright {
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #c9c9c9;
  margin-top: 25px;
}

.btn-send-form {
  width: 125px;
  height: 38px;
  background: #058070;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  border: none;
  border-radius: 3px;
}

.label-form {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.message-info-form {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.65px;
  color: #058070;
}
.margin-colums {
  margin-left: 30px;
}
.text-area-form {
  height: 100px;
}
.color-green {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #058070;
}

.maincontainer {
  width: 100%;
  height: 100%;
  border: 1px solid #f4f4f7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  padding: 24px 16px 20px 16px;
  box-sizing: border-box;
}
.mobile-v-visa-types {
  display: none !important;
}
.description {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
  margin-top: 0px;
  height: 96px;
}
.btn-see-more {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #058070;
}
.here {
  margin-top: 144px;
}

.here-description {
  width: 562px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
  margin-bottom: 40px;
}

.letsGo {
  margin-top: 120px;
  height: 454px;
  background-color: rgba(28, 38, 86, 0.05);
  position: relative;
  display: flex;
  align-items: center;
}
.container-cards-lets {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 52px;
}
.card-container-lets {
  width: 306px;
  height: 216px;
  background: #ffffff;
  border-radius: 6px;
  margin: 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.title-card-lets {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 23px;
  text-align: center;
  color: #000000;
  margin-top: 23px;
}
.description-card-lets {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #000000;
  margin-top: 12px;
}
.btn-call-lets {
  width: 307px;
  height: 34px;
  background: #058070;
  border-radius: 3px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  color: #fff;
  border: none;
}
.btn-container-lets {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -60px;
  right: 0;
  left: 0;
}
.choose-me {
  margin-top: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.iti,
.iti--allow-dropdown {
  width: 100%;
}
.card-motive {
  width: auto;
  height: 168px;
  background: #ffffff;
  border: 1px solid #f4f4f7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.description-motive {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
  width: auto;
  padding: 30px 15px;
}
.img-motive {
  margin-top: 30px;
  height: 81px;
  margin-left: 10px;
}

.carousel-size {
  height: 400px !important;
}
.size-icon {
  color: #ffffff;
}
.contain-text-card-visa-mobile {
  display: none;
}
.size-icon-chek {
  color: #ffffff;
}

.mobile-v {
  display: none;
}

.size-vertical-bar {
  display: flex;
  flex-direction: row;
  height: 70px !important;
}
.title-card-help-you {
  width: 117px;
}
.btn-mobile-resevation {
  display: none;
}
.container-icon-network {
  display: flex;
  margin-top: 44px;
}
.footer-color-mobile {
  display: none;
}
.color-bg-attention {
  display: none;
}
.general-footer {
  height: 380px;
  margin-top: 80px;
  background: #1c2656;
}
.hr-main-white {
  border: none;
  border-left: 4px solid #fff !important;
  width: 5px !important;
  opacity: 1 !important;
  height: 80px !important;
  background: #ffffff;
}
.subtitle-newsletter-footer {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}
.title-newletter-footer {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #ffffff;
}
.container-newslleter-footer {
  margin-top: 40px;
}
.btn-outline-secondary {
  color: #a4a4a4 !important;
  background-color: #edeef2 !important;
}
.btn-outline-secondary:hover {
  color: #ffffff !important;
  background-color: #1c2656 !important;
}

.whatsapp-button {
  position: fixed;
  bottom: 90px;
  right: 15px;
  z-index: 99;
  background-color: #25d366;
  border-radius: 50px;
  color: #ffffff !important;
  text-decoration: none;
  width: 50px;
  height: 50px;
  font-size: 30px;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  -webkit-box-shadow: 0px 0px 25px -6px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 25px -6px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 25px -6px rgba(0, 0, 0, 1);
  animation: effect 5s infinite ease-in;
}

@keyframes effect {
  20%,
  100% {
    width: 50px;
    height: 50px;
    font-size: 30px;
  }
  0%,
  10% {
    width: 55px;
    height: 55px;
    font-size: 35px;
  }
  5% {
    width: 50px;
    height: 50px;
    font-size: 30px;
  }
}

.zsiq_floatmain{
  bottom: 160px !important;
}
@media (min-width: 1367px) {
  .carousel-size {
    height: 450px !important;
  }

  .card-visa-write {
    position: absolute;
    bottom: -30px;
    width: 80%;
    height: 154px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .box-service {
    width: 306px;
    height: 216px;
  }
}


@media (max-width: 1366px) {
  .card-motive {
    width: auto;
    height: 220px;
    background: #ffffff;
    border: 1px solid #f4f4f7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
  }
  .description-motive {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
    width: auto;
    padding: 30px 15px;
  }
}

@media (max-width: 700px) {
  .size-mobile {
    height: 300px;
  }
  .titulo-portada {
    width: 300px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 1.8em;
    line-height: 30px;
    color: #ffffff;
  }
  .centeredBox {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
    margin-top: 20px;
  }
  .hr-main-header {
    border: none;
    border-left: 4px solid #ffffff !important;
    height: 112px !important;
    width: 1px !important;
    opacity: 1 !important;
    margin-right: 12px;
    margin-top: 0;
  }
  .btn-contact {
    width: 170px;
    height: 40px;
    background: #058070;
    border-radius: 3px;
    border: none;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
  }
  .btn-want-to {
    width: 110px;
    height: 40px;
    background: #ffffff;
    border-radius: 3px;
    border: none;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
  }
  .box-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: rgb(103, 109, 109);
    border-radius: 3px;
    margin-right: 5px;
    cursor: pointer;
  }
  .size-icon {
    color: #ffffff;
    font-size: 12px;
  }
  .header {
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
  }
  .carousel-size {
    height: 450px !important;
  }
  .subtitle-carousel-clients {
    margin-bottom: 0px;
  }
  .container-subtitle-carousel-client {
    display: flex;
    position: initial;
    justify-content: start;
  }
  .hr-main {
    border: none;
    border-left: 4px solid #000000 !important;
    height: 110px !important;
    width: 1px !important;
    opacity: 1 !important;
    margin-right: 12px;
    margin-top: 0;
    top: 48px;
  }
  .hr-main-us {
    border: none;
    border-left: 4px solid #000000 !important;
    height: 70px !important;
    width: 1px !important;
    opacity: 1 !important;
    margin-right: 12px;
    margin-top: 0;
  }
  .carousel-size {
    margin-top: 0px;
    height: 600px !important;
  }
  .container-description-client {
    margin-top: 20px;
    margin-left: 0px;
  }
  .card-visa-write {
    position: absolute;
    bottom: -30px;
    width: 93%;
    height: 180px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    left: auto;
    padding-left: 16px;
  }
  .carousel-indicators {
    display: none !important;
  }
  .box-service {
    width: 306px;
    height: 216px;
  }
  .text-description-client {
    height: 240px;
    margin-left: 12px;
    margin-top: 0.8rem;
  }
  .see-more {
    position: relative;
    margin-top: 0px;
    width: 227px;
    height: 44px;
    margin-left: 0px;
  }
  .services {
    margin-top: 30px;
    height: auto;
  }

  .img-book-container {
    display: flex;
    width: 201px;
    height: 279px;
    margin-bottom: 10px;
    position: absolute;
    top: -95px;
  }
  .color-green {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    color: #058070;
  }

  .description-help {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;

    color: #000000;
    width: auto;
    margin-top: 50px;
  }

  .bar-color {
    width: 100%;
  }
  .clients {
    background: transparent;
    margin-top: 0px;
    padding-top: 20px;
    padding-bottom: 0px;
  }
  .position-relative {
    padding-top: 0px;
    margin-top: 20px;
  }
  .title-name-client {
    font-size: 22px;
    line-height: 17px;
    margin-left: 12px;
  }
  .title-service {
    margin-top: 12px;
    margin-left: 0px;
    font-size: 22px;
    line-height: 25px;
  }
  .description {
    margin-top: 0px;
    height: auto;
    margin-bottom: 10px;
  }
  .title-carousel-clients-help {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    color: #000000;
  }

  .btn-see-more {
    display: none;
  }

  .maincontainer {
    width: 100%;
    height: 100%;
    border: 1px solid #f4f4f7;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 10%);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    padding: 10px 16px 10px 16px;
    box-sizing: border-box;
  }
  .btn-services {
    width: 264px;
    height: 44px;
    background: #058070;
    border-radius: 3px;
    border: none;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    color: #ffffff;
  }
  .section-visa-types {
    margin-top: 44px;
  }
  .size-img-visa-types {
    width: 550px;
    height: 250px !important;
  }

  .contain-text-card-visa-mobile {
    display: flex;
  }

  .title-description-visa {
    margin-top: 14px;
    height: auto;
  }
  .see-more-info {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 15px;
    color: #058070;
    display: block;
    text-align: right;
    margin-top: 15px;
    margin-right: 12px;
  }
  .card-visa-type {
    width: 100%;
    height: auto;
    background: #ffffff;
    border: 1px solid #f4f4f7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0px 0px;
    margin-top: 10px;
    padding: 20px 8px;
  }
  .container-here {
    margin-top: 14px;
    margin-left: 0;
  }
  .news-letter {
    background-color: rgba(28, 38, 86, 0.05);
    height: auto;
    margin-top: 180px;
    display: flex;
    align-items: center;
    padding-bottom: 30px;
  }

  .desktop-v {
    display: none !important;
  }
  .mobile-v {
    display: flex;
    justify-content: center;
  }
  .form-newsletter-container {
    margin-top: 200px;
  }
  .contain img {
    width: 100vw;
    animation-name: none;
  }
  .help-you {
    height: auto;
    margin-top: 30px;
    display: flex;
    align-items: center;
    background-color: transparent;
  }

  .btn-desktop-resevation {
    display: none;
  }
  .title-card-help-you {
    width: auto;
  }
  .card-help-you {
    width: 100%;
    height: 73px;
    margin-top: 10px;
    justify-content: flex-start;
    padding-left: 10px;
  }
  .first-card-help-you {
    margin-top: 35px;
  }
  .first-card-visa {
    margin-top: 50px;
  }
  .size-vertical-bar {
    height: 50px !important;
  }

  .btn-mobile-resevation {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  .here {
    margin-top: 38px;
  }
  .hidden-title {
    display: none;
  }
  .container-btn-see-more {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  .text-card-visa-write {
    width: 100%;
  }
  .container-header-text {
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
  }
  .btn-container-header {
    margin-top: 18px;
  }
  .container-icon-network {
    display: flex;
    margin-top: 12px;
  }
  .title-visa {
    font-size: 22px;
    line-height: 25px;
  }
  .form-newsletter {
    margin-top: 1rem;
  }
  .here-description {
    width: 100%;
    margin-bottom: 10px;
  }
  .choose-me {
    margin-top: 30px;
  }
  .footer-color {
    display: none;
  }

  .color-bg-attention {
    background-color: #1c2656;
    display: flex;
  }
  .footer-color-mobile {
    display: flex;
    margin-top: 40px;
  }
  .img-here {
    margin-bottom: 20px;
  }
  .desktop-v-visa-types {
    display: none !important;
  }
  .subtitle-form-newsletter {
    margin-top: 5px;
  }

  .box-check-green {
    margin-left: 0px;
  }
  .box-check-blue {
    margin-left: 0px;
  }
  .card-motive {
    width: auto;
    height: auto;
  }
  .description-motive {
    padding: 10px 10px;
    width: auto;
    font-family: "Roboto";
  }
  .contact-hour {
    font-size: 16px;
    line-height: 19px;
  }
  .box-icon-follow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    background: #058070;
    border-radius: 3px;
    margin-right: 10px;
  }
  .follow {
    margin-top: 25px;
  }
  .copyright {
    text-align: center;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #c9c9c9;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .first-section-b2 {
    margin-left: 12px;
  }
  .container-form {
    width: 100%;
    height: auto;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    padding-bottom: 20px;
    margin-left: 0px;
  }
  .mobile-v-visa-types {
    display: block !important;
  }
  .hidden-title-mobile {
    display: flex;
  }
  .img-size-flag {
    width: 230px;
    height: auto;
  }
  .navbar-light .navbar-toggler {
    color: transparent !important;
    border-color: transparent !important;
  }
  .general-footer {
    height: auto;
    margin-top: 80px;
    background: #1c2656;
  }
  .btn-up {
    width: 40px;
    height: 40px;
    font-size: 20px;
  }
  .whatsapp-button {
    position: fixed;
    bottom: 80px;
    right: 15px;
    width: 40px !important;
    height: 40px !important;
    font-size: 20px;
  }
  .img-motive {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    height: auto;
    margin-left: 5px;
  }
  .img-motive > img {
    width: 37px;
  }
}
