body {
  padding: 0 !important;
  margin: 0 !important;
}
a {
  color: white;
  text-decoration: none;
  display: block;
  width: 100%;
  border: none;
}

a:hover {
  color: white;
}
.div-img {
  width: 100%;
  height: 850px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/images/WE1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container-date {
  padding-top: 50px;
}
.item-date {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 41px;
  color: #ffffff;
}
.container-title {
  width: 650px;
  margin-top: 40px;
}
.title {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 80px;
  line-height: 76px;
  color: #ffffff;
}
.hr-item {
  width: 342px;
  height: 0px;
  border: 3px solid #ffffff;
  opacity: 1;
  margin-top: 24px;
}
.container-subtitle {
  margin-top: 20px;
  margin-bottom: 20px;
}
.subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 59px;
  color: #ffffff;
}

.container-countdown {
  margin-top: 64px;
  width: 480px;
}
.container-item-countdown {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

li {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style-type: none;
  width: 98px;
  height: 98px;
  background: rgba(255, 255, 255, 0.86);
  border-radius: 6px;
  margin-right: 24px;

  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 53px;
  color: #000000;
}

.label-date {
  position: absolute;
  bottom: -30px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 23px;
  color: #ffffff;
}

.container-button {
  margin-top: 80px;
}

.btn-wantR {
  width: 460px;
  height: 56px;
  background: #058070;
  border-radius: 6px;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: #ffffff;
}

.subtitle-item {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 42px;
  line-height: 64px;
  margin-top: 50px;
  color: #000000;
}

.green {
  width: 199px;
  border: 3px solid #058070;
  opacity: 1;
}

.video-container {
  width: 100%;
  height: 546px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 36px;
}

.description-task {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 29px;
  margin-top: 50px;
  color: #000000;
}

.hotel-name {
  display: block;
  width: 316px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 29px;
  margin-top: 108px;
  color: #000000;
}

.container-date-color {
  margin-top: 28px;
}

.item-date-color {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 29px;

  color: #058070;
}

.rebote {
  animation: rebote 1.6s infinite ease-in;
}
@keyframes rebote{
  20%, 50%, 70%{
    transform: translateY(0%);
  }
  40%{
    transform: translateY(-20px);
  }  
  60%{ 
    transform: translateY(-10px);
  }   
}
.registration {
  width: 464px;
  height: 70px;
  background: #1c2656;
  border-radius: 3px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  margin-top: 56px;
  color: #ffffff;
  border: none;
}

.border-col {
  position: relative;
}

.bar {
  position: relative;
  left: 100px;
  height: 848px;
  border-left: 3px solid #1c2656;
}

.square {
  position: absolute;
  left: -10px;
  width: 18px;
  height: 18px;
  background: #058070;
  border-radius: 3px;
}

.topics {
  width: 350px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  margin-left: 30px;
  color: #000000;
  display: block;
}

.date-topic {
  margin-left: 30px;
  display: block;
  width: 226px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;

  color: #058070;
}

.date-topic-finish {
  display: block;
  width: 274px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  margin-top: 6px;
  color: #058070;
}
.topic-one {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 20px;
  color: #000000;
}
.container-topics {
  width: 437px;
  margin-left: 30px;
  margin-top: 20px;
}
.container-topics-finish {
  width: 437px;
  margin-left: 30px;
}
.square-big {
  position: absolute;
  left: -12px;
  margin-top: 85px;
  width: 22px;
  height: 22px;
  background: #058070;
  border-radius: 3px;
}

.square-big-two {
  position: absolute;
  left: -12px;
  margin-top: 391px;
  width: 22px;
  height: 22px;
  background: #058070;
  border-radius: 3px;
}

.square-big-three {
  position: absolute;
  left: -12px;
  margin-top: 670px;
  width: 22px;
  height: 22px;
  background: #058070;
  border-radius: 3px;
}
.square-finish {
  position: absolute;
  left: -10px;
  width: 18px;
  height: 18px;
  background: #058070;
  border-radius: 3px;
  margin-top: 832px;
}

.topic-finish {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
}

.card-container {
  display: flex;
  flex-direction: column;
  width: 360px;
}

.name-speaker {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 22px;
  line-height: 45px;
  color: #000000;
}

.about-speaker {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: #000000;
}

.where-is {
  margin-top: 90px;
}

.hotel-description {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 45px;
  color: #000000;
}
.description-hotel-container {
  margin-top: 23px;
}
.email {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 45px;
  color: #000000;
}
.email-dir {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 45px;
  color: #000000;
  padding-left: 5px;
}
.email-dir-a {
  display: inline;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 45px;
  color: #000000;
}
.email-dir-a:hover {
  color: #000000;
}
.tel {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 45px;
  color: #000000;
}
.tel-number {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 45px;
  color: #000000;
  padding-left: 5px;
}
.tel-number-a {
  display: inline;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 45px;
  color: #000000;
  padding-left: 5px;
}
.tel-number-a:hover {
  color: #000000;
}
.map {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 53px;
}
.contact {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 65px;
  margin-top: 50px;
  color: #000000;
}
.title-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}

.green-footer {
  width: 370px;
  border: 2px solid #058070;
  opacity: 1;
}
.margin-title {
  margin-top: 0;
  margin-left: 30px;
  margin-right: 30px;
  font-size: 35px;
}

.description-container-items {
  display: flex;
  margin-top: 40px;
}
.margin-container-item {
  margin-top: 80px;
}
.description-item-footer {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  color: #000000;
  margin-left: 10px;
}
.margin-label-footer {
  margin-left: 9px;
}
.btn-confirm-reservation {
  width: 100%;
  height: 60px;
  background: #058070;
  border-radius: 3px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 47px;
  color: #ffffff;
  border: none;
}

.button-container {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-logos {
  display: flex;
  align-items: flex-end;
  justify-content: center;

  margin-top: 50px;
}

.img-logo {
  margin: 0 40px;
}

.mobile {
  display: none;
}
.anka {
  width: 250px;
}
.inter {
  width: 336px;
}
.drv {
  width: 315px;
}
.img-speaker {
  border: 1px solid #9a9a9a;
  border-radius: 0.25em;
}
.whatsapp-button{
  position: fixed;
  bottom: 80px;
  right: 35px;
  z-index: 99;
  background-color: #25d366;
  border-radius: 50px;
  color: #ffffff;
  text-decoration: none;
  width: 50px;
  height: 50px;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0px 0px 25px -6px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 25px -6px rgba(0,0,0,1);
  box-shadow: 0px 0px 25px -6px rgba(0,0,0,1);
  animation: effect 5s infinite ease-in;
}

@keyframes effect {
  20%, 100% {
      width: 50px;
      height: 50px;
      font-size: 30px;
  }
  0%, 10%{
      width: 60px;
      height: 60px;
      font-size: 40px;
  }
  5%{
      width: 50px;
      height: 50px;
      font-size: 30px;
  }
}
@media all and (max-width: 1366px) {
}

@media all and (max-width: 800px) {
  main {
    padding: 0 10px;
  }
  footer {
    padding: 0 10px;
  }
  li {
    font-size: calc(1.125rem * var(--smaller));
    width: 50px;
    height: 50px;
  }

  li span {
    font-size: calc(3.375rem * var(--smaller));
  }

  .container-date {
    padding-top: 40px;
    padding-left: 10px;
  }
  .item-date {
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #ffffff;
  }
  .container-title {
    width: 260px;
    padding-left: 10px;
  }
  .title {
    font-weight: bold;
    font-size: 1.8em;
    line-height: 38px;
    color: #ffffff;
  }
  .hr-item {
    width: 120px;
    height: 0px;
    border: 2px solid #ffffff;
    margin-left: 0;
    margin-top: 20px;
  }
  .container-subtitle {
    margin-top: 20px;
    padding-left: 10px;
  }
  .subtitle {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 17px;
    line-height: 26px;
    color: #ffffff;
  }
  .container-countdown {
    width: 320px;
    margin-top: 40px;
    padding-left: 10px;
  }

  .label-date {
    position: absolute;
    bottom: -30px;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 23px;
    color: #ffffff;
  }
  .container-button {
    margin-top: 60px;
    display: flex;
    align-items: center;
    padding-bottom: 30px;
    padding-left: 10px;
  }

  .btn-wantR {
    width: 275px;
    height: 32px;
    background: #058070;
    border-radius: 6px;
    border: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
  }
  
  .div-img {
    width: 100vw;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url("./assets/images/WE1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .subtitle-item {
    display: block;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 22px;
    line-height: 26px;
  }
  .green {
    width: 77px;
    border: 2px solid #058070;
    opacity: 1;
  }
  .video-container {
    width: 100%;
    height: 250px;
    margin-top: 20px;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .bar {
    position: relative;
    left: 8px;
    height: 720px;
    border-left: 3px solid #1c2656;
  }
  .topics {
    width: 220px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    margin-left: 30px;
    color: #000000;
    display: block;
  }

  .date-topic {
    margin-left: 30px;
    display: block;
    width: 226px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #058070;
    margin-top: 5px;
  }
  .topic-one {
    display: block;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    margin-bottom: 20px;
  }
  .topic-finish {
    width: 290px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
  }
  .date-topic-finish {
    display: block;
    width: 274px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #058070;
    margin-top: 6px;
  }
  .square {
    position: absolute;
    left: -10px;
    width: 14px;
    height: 14px;
    background: #058070;
    border-radius: 3px;
  }
  .square-big {
    position: absolute;
    left: -12px;
    margin-top: 66px;
    width: 18px;
    height: 18px;
    background: #058070;
    border-radius: 3px;
  }
  .square-big-two {
    margin-top: 340px;
    width: 18px;
    height: 18px;
  }
  .square-big-three {
    margin-top: 582px;
    width: 18px;
    height: 18px;
  }
  .square-finish {
    margin-top: 710px;
    width: 14px;
    height: 14px;
  }
  .description-task {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    margin-top: 90px;
  }
  .hotel-name {
    display: block;
    width: 316px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    margin-top: 21px;
  }
  .item-date-color {
    display: block;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #058070;
  }
  .registration {
    width: 100%;
    height: 32px;
    background: #1c2656;
    border-radius: 3px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #ffffff;
    margin-top: 30px;
    border: none;
  }
  .container-topics {
    width: 256px;
    margin-left: 30px;
    margin-top: 20px;
  }
  .container-topics-finish {
    width: 220px;
    margin-left: 30px;
  }
  .name-speaker {
    display: block;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
    margin-top: 20px !important;
  }

  .mobile-margin-speaker {
    margin-left: 10px;
  }
  .about-speaker {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
    margin-top: 0 !important;
  }
  .card-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 320px;
  }
  .img-speaker {
    width: 120px;
    height: 120px;
  }
  .hotel-description {
    display: block;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
  }
  .map-size {
    height: 250px;
  }
  .map {
    margin-top: 40px;
  }
  .description-item-footer {
    display: block;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    margin-left: 10px;
  }
  .description-container-items {
    display: flex;
    width: 300px;
    margin-top: 20px;
  }
  .btn-confirm-reservation {
    width: 100%;
    height: 32px;
    background: #058070;
    border-radius: 3px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    border: none;
  }
  .green-footer {
    width: 80px;
    border: 1.5px solid #058070;
    opacity: 1;
  }
  .margin-title {
    margin-top: 0;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
  }
  .title-footer {
    display: none;
  }
  .margin-container-item {
    margin-top: 40px;
  }
  .button-container {
    margin-top: 30px;
  }

  .container-logos {
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: center;
    margin-top: 30px;
  }
  .img-logo {
    margin: 0 10px;
  }
  .anka {
    width: 80px;
  }
  .inter {
    width: 103.6px;
  }
  .drv {
    width: 80px;
  }
  .where-is {
    margin-top: 40px;
  }
  .contact {
    display: block;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 28px;
    margin-top: 50px;
    color: #000000;
}
.margin-icon-contact {
  margin-top: 20px;
}
.email-dir-a {
  display: inline;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 45px;
  color: #000000;
}
.tel-number-a {
  display: inline;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 45px;
  color: #000000;
  padding-left: 5px;
}
.whatsapp-button{
  position: fixed;
  bottom: 50px;
  right: 15px;
 
}
}
