.header-visa-e-1 {
  width: 100%;
}
.btn-want-learn {
  width: 310px;
}
.item-visa-e2 > a {
  text-decoration: underline !important;
  display: inline !important;
}
.scheduled-section-visa-e5 {
  margin-top: 144px;
  height: 218px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(28, 38, 86, 0.03);
}
@media (max-width: 700px) {
  .scheduled-section-visa-e5 {
    margin-top: 60px;
    height: auto;
    padding: 20px 0px;
  }
}
